@use "sass:map";
@use "../colors.scss" as *;
@use "../components/header.scss";

body > main {
	display: grid;
	grid: auto / auto 1fr;
	height: calc(100vh - header.$header-height);
	padding: 0;

	> * {
		height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	> aside {
		$tooltipTransitionDuration: 0s;
		padding: 15px;
		border-top-right-radius: 15px;
		box-shadow: inset 0 0 15px
			rgba($color: map-get($colors, "dark"), $alpha: 0.15);
		transition: overflow $tooltipTransitionDuration $tooltipTransitionDuration;

		&:has(li:hover) {
			overflow: unset;
			transition-delay: 0s;
		}

		> ul {
			display: grid;
			gap: 15px;

			> li {
				position: relative;
				&::before {
					content: attr(data-caption);
					position: absolute;
					top: 50%;
					left: 100%;
					background-color: map-get($map: $colors, $key: "primary");
					color: map-get($map: $colors, $key: "light");
					padding: 5px 10px;
					padding-left: 20px;
					pointer-events: none;
					text-wrap: nowrap;
					clip-path: polygon(15px 0, 100% 0, 100% 100%, 15px 100%, 0 50%);

					translate: 15px -50%;
					border-radius: 5px;

					z-index: 10;

					opacity: 0;
					transition: $tooltipTransitionDuration;
				}
				&:not(.selected):hover::before {
					opacity: 1;
				}

				> a {
					width: 100% !important;
					aspect-ratio: 1 / 1;
					display: grid !important;
					place-content: center;
					text-align: center;
				}

				&.selected {
					> a {
						border-radius: 5px;
						background-color: map-get($map: $colors, $key: "light");
						color: map-get($map: $colors, $key: "primary");
						border-color: map-get($map: $colors, $key: "primary");
						scale: 1.05;
					}

					&.disable-click a {
						pointer-events: none;
					}
				}
			}

			* {
				width: 100%;
				aspect-ratio: 1 / 1;
			}
		}
	}

	> #app {
		padding: 0 1em 1em;
	}
}
