@use "sass:map";
@use "colors" as *;

form {
	max-width: 650px;
	margin: 0 auto;
	span.error {
		font-size: 0.5em;
		font-style: italic;
		color: map-get($map: $colors, $key: "primary");
	}

	label {
		gap: 0.25em;
		cursor: pointer;

		> span.required::after {
			content: "*";
			color: map-get($map: $colors, $key: "primary");
		}
		&:not(.inline) {
			width: 100%;
			display: grid;
			margin-top: 2em;
		}

		&.inline {
			display: inline-flex;
			align-items: center;
			width: max-content;
			height: 100%;
			transition: box-shadow 0.25s;

			&:hover {
				box-shadow: inset 0 0 5px
					rgba($color: map-get($colors, "dark"), $alpha: 0.15);
			}

			> span {
				padding: 5px 10px;
			}

			> input,
			> select {
				border: none;
				border-radius: 0;
				background-color: transparent;
			}

			&:not(.inline-label-group > *) {
				@extend .inline-label-group;
			}
		}

		&:not(.inline):has(> input[type="checkbox"]:not(.force-default)) {
			display: flex;
			align-items: center;
			gap: 1em;

			> input {
				appearance: none;
				aspect-ratio: 2 / 1;
				position: relative;
				margin: 0.5em 0;
				border-radius: 999px;
				cursor: pointer;

				$padding: 5%;

				&::before {
					content: "";
					position: absolute;
					top: 50%;
					left: $padding;
					translate: 0 -50%;

					background-color: rgba(map-get($map: $colors, $key: "dark"), 0.5);
					height: calc(100% - $padding * 3);
					aspect-ratio: 1 / 1;
					border-radius: 50%;

					transition: 0.25s;
				}
				&:active {
					&::before {
						aspect-ratio: 1.25 / 1;
					}
				}
				&:checked {
					&::before {
						left: calc(100% - $padding);
						translate: -100% -50%;
						background-color: map-get($map: $colors, $key: "primary");
					}
				}
			}
		}
	}
	.inline-label-group {
		display: flex;
		align-items: center;
		gap: 0.25em;
		border: 1px solid map-get($map: $colors, $key: "dark");
		border-radius: 5px;
		overflow: hidden;

		> label {
			&:not(:first-of-type) > span {
				border-left: 1px solid map-get($map: $colors, $key: "primary");
			}
			&:not(:last-of-type) > input {
				margin-right: 10px;
			}
		}
	}

	input,
	textarea,
	select {
		padding: 1em 0.5em;
		font-family: inherit;
		border-radius: 5px;
		border: 0.25px solid rgba(map-get($map: $colors, $key: "dark"), 0.75);
		outline: none;
		background-color: map-get($map: $colors, $key: "light");

		&:focus {
			border-color: map-get($map: $colors, $key: "primary");
		}
	}

	select {
		cursor: pointer;
	}

	input {
		&[type="checkbox"] {
			margin-right: 1em;
			cursor: pointer;
		}
	}

	textarea {
		resize: vertical;
		min-height: 100px;
	}

	fieldset {
		margin-top: 1em;
		padding: 0.75em 1em;
		padding-bottom: 2em;
		border-radius: 10px;
		border-style: dashed;

		> legend {
			padding: 0 0.25em;
			font-size: 1.25em;
			color: map-get($map: $colors, $key: "primary");
		}

		> *:not(legend):first-of-type {
			margin-top: 0;
		}
	}

	> .actions {
		display: grid;
		place-content: center;
		place-items: center;
		gap: 0.75em;

		margin-top: 1.5em;

		> a {
			font-size: 0.75em;
		}
	}

	.filterer {
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		gap: 1em 0.5em;
	}
}
