@use "sass:map";
@use "../colors.scss" as *;

body:has(.invoice-renderer) {
	.invoice-renderer {
		> .page {
			@media screen {
				*[contenteditable="true"] {
					outline: 1px solid map-get($map: $colors, $key: "primary");
					padding: 5px;
					position: relative;

					&:empty,
					&.force-empty {
						&::before {
							content: attr(aria-placeholder);
							opacity: 0.5;

							pointer-events: none;
						}
					}
				}
			}

			> h2,
			> p {
				text-align: center;
			}

			input, textarea {
				font: inherit;
				padding: 5px;
				margin: 0;
				border-radius: 0;
				border-color: map-get($map: $colors, $key: "primary");
				display: inline;
				color: inherit;
			}

			> .address {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 1.5em;
			}

			> section {
				padding: {
					left: 0;
					right: 0;
				}
			}

			table {
				max-width: unset;
				width: 100%;
				th {
					text-wrap: nowrap;
				}

				td {
					&:first-of-type {
						text-align: left;

						> p {
							font-size: 0.65em;
							margin-top: 0.25em;
							font-style: italic;
							color: rgba($color: map-get($colors, "dark"), $alpha: 0.5);

							&:not([contenteditable="true"]) {
								&:empty,
								&.force-empty {
									display: none;
								}
							}
							@media print {
								&:empty,
								&.force-empty {
									display: none;
								}
							}
						}
					}

					> div {
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}

				.adder ul {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 1em;
				}
			}

			> footer {
				margin-top: 2em;
				padding: 1em 0;
				font-size: 0.75em;
				color: rgba($color: map-get($colors, "dark"), $alpha: 0.85);
				font-style: italic;
			}
		}
	}

	@media print {
		@page {
			size: A4;
			margin: 0;
		}
		// Only display invoice renderer
		:not(.invoice-renderer):not(.invoice-renderer *):not(
				:has(.invoice-renderer)
			) {
			display: none;
		}
		&,
		:has(.invoice-renderer) {
			display: initial;
			padding: 0 !important;
			margin: 0 !important;
			background-color: transparent !important;
		}

		.invoice-renderer {
			font-size: 12px;

			.actions,
			.adder {
				display: none;
			}
		}
	}
}
